<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>euromancer</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">  
</head>
<body> 
  <header>
    <p class="last-login">Last login: <ac>{{ null | renderDate }}</ac> on ttys000</p>
    {% set headline = "euromancer" | tdfiglet("forgotex") %}
    <h1 class="post-figlet" style="--cols: {{ headline | maxcols }}"><pre>{{ headline }}</pre></h1>
<nav><span class="active">home</span> <a href="{{ '/archive/' | url }}">texts+images</a></nav>
  </header>
  <main>
    <section class="row-with-media">
      <div class="row-text">
        <h3>What is euromancer@emag?</h3>
        <p>euromancer@emag is an open-source self-publishing platform inspired by Eastern Bloc samizdat practices, modern command-line interfaces, and early diskmag subculture. 
        <br>The platform is currently in active development — its source code is publicly <a href="https://github.com/aleglutz/euromancer" target="_blank">available on GitHub</a>. 
        <br>Visual and text references are collected in the <a href="https://www.are.na/aleg-lutz/cli-izdat" target="_blank">euromancer channel</a> on Are.na.</p>
      </div>
      <div class="row-media">
        <img src="assets/images/chiponboard-ditheredBW.png" alt="">
      </div>
    </section>
    <section class="row-with-media">
        <div class="row-text">
            <h3>Who is Euromancer?</h3>
            <p>Unlike Neuromancer, the artificial intelligence in William Gibson's 1984 novel of the same name, `Euromancer` is a fictional human character with emotions, dreams, and biases. His long journey into cyberspace has given him a pan-European identity, yet it has also resulted in disillusionment. The EU he once fell in love with has shifted from integration and openness to exclusion and walls. Meanwhile, cyberspace has fallen into techno-feudalism — closed proprietary platforms backed by nation-states and oligarchs.
            <br>This is where his romance with "Post-Europe" begins.</p>
          </div>
        <div class="row-media">
          <img src="assets/images/AL-best-bw.png" alt="">
      </div>        
    </section>
    <section class="row-with-media">
      <div class="row-text">
        <h3>Other Projects</h3>
        <ul>
          <li>/Forgot Your Protest?</li>
          <li>/MemoActs Educational Programm</li>
          <li>/more at <a href="https://memosynth.net/" target="_blank">memosynth.net</a></li>
        </ul>
      </div>
      <div class="row-media">
        <img src="assets/images/Punks-dithered-bw.png" alt="">
      </div>
    </section>
  </main>
  <footer>
    <p>[euromancer] 2026 Alég's Web Exercises</p>
  </footer>
</body>
</html>
