---
layout: false
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>euromancer/archive</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>
<body>
  <header>
    <p class="last-login">Last login: <ac><span id="login-time"></span></ac> on ttys000</p>
      <script>
         const now = new Date();
         const options = { weekday: 'short', month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
         document.getElementById('login-time').textContent = now.toLocaleString('en-US', options);
      </script>
    {% set headline = "texts+images" | tdfiglet("forgotex") %}
    <h1 class="post-figlet" style="--cols: {{ headline | maxcols }}"><pre>{{ headline }}</pre></h1>
<nav class="path">
  <span class="nav-tilde">~<span class="nav-sep">/</span><a href="{{ '/' | url }}">home</a><span class="nav-sep">/</span><a href="{{ '/archive/' | url }}" class="active">texts+images</a>
</nav>
  </header>
  <main>
    <section>
      <ul class="post-list">
        {% for post in collections.posts %}
          {% if post.data.status == "ready" %}
            <li><time datetime="{{ post.data.date | date }}">{{ post.data.date | date }}</time> - <a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </main>

  <footer>
    <p>2026 Alég's Web Exercises</p>
  </footer>
</body>
</html>
